In [1]:
import pandas as pd

# DataFrame

In [4]:
data = {
    "Name": ["saim", "Ahmad"],
    "Age": [20,20],
    "CGPA": [3.4,4]
}

In [5]:
df = pd.DataFrame(data)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    2 non-null      object
 1   Age     2 non-null      int64
 2   CGPA    2 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 112.0+ bytes

In [8]:
df.head()

    Name  Age  CGPA
0   saim   20   3.4
1  Ahmad   20   4.0

# Importing File

In [10]:
df = pd.read_csv("task-1.csv")

# Cleaning , filtering and feature engineering

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        11 non-null     int64
 1   order_date      11 non-null     object
 2   product         11 non-null     object
 3   category        10 non-null     object
 4   price           11 non-null     int64
 5   quantity        11 non-null     int64
 6   city            11 non-null     object
 7   payment_method  11 non-null     object
dtypes: int64(3), object(5)
memory usage: 556.0+ bytes

In [17]:
df.shape

(11, 8)

In [19]:
df.head()

,order_id,order_date,product,category,price,quantity,city,payment_method
0,1001,2024-01-05,Laptop,NaN,120000,1,Karachi,Credit Card
1,1002,2024-01-06,Mobile Phone,Electronics,60000,2,Lahore,Cash on Delivery
2,1003,2024-01-07,Headphones,Accessories,5000,3,Islamabad,Debit Card
3,1004,2024-01-10,Office Chair,Furniture,25000,1,khi,Credit Card
4,1005,2024-02-02,Laptop,Electronics,120000,1,Lahore,Credit Card

In [20]:
df.tail()

,order_id,order_date,product,category,price,quantity,city,payment_method
6,1007,2024-02-15,Mobile Phone,Electronics,60000,1,Karachi,Debit Card
7,1008,2024-03-01,Monitor,Electronics,30000,2,Lahore,Credit Card
8,1009,2024-03-05,Headphones,Accessories,5000,4,KARACHI,Cash on Delivery
9,1010,2024-03-10,Desk Lamp,Accessories,3000,2,Islamabad,Debit Card
10,1010,2024-03-10,Desk Lamp,Accessories,3000,2,Islamabad,Debit Card

In [22]:
df['category'].unique()

array([nan, 'Electronics', 'Accessories', 'Furniture'], dtype=object)

In [23]:
df.dtypes

order_id           int64
order_date        object
product           object
category          object
price              int64
quantity           int64
city              object
payment_method    object
dtype: object

In [24]:
df.describe()

          order_id          price   quantity
count    11.000000      11.000000  11.000000
mean   1005.909091   42818.181818   1.818182
std       3.176619   43618.386448   0.981650
min    1001.000000    3000.000000   1.000000
25%    1003.500000    5000.000000   1.000000
50%    1006.000000   30000.000000   2.000000
75%    1008.500000   60000.000000   2.000000
max    1010.000000  120000.000000   4.000000

## Data cleaning

In [26]:
df.isna().sum()

order_id          0
order_date        0
product           0
category          1
price             0
quantity          0
city              0
payment_method    0
dtype: int64

##### Different schemes for missing values
Different schemes are used for handling missing values:
- Dropping 'na' (empty) rows
- Giving mean/median values

In [27]:
df[df['category'].isna()]

,order_id,order_date,product,category,price,quantity,city,payment_method
0,1001,2024-01-05,Laptop,NaN,120000,1,Karachi,Credit Card

In [30]:
#giving a appropriate val by looking at the data in the empty value
df.loc[0,'category'] = 'Electronics'

In [31]:
df.isna().sum()

order_id          0
order_date        0
product           0
category          0
price             0
quantity          0
city              0
payment_method    0
dtype: int64

In [32]:
df.duplicated().sum()

np.int64(1)

In [34]:
# dropping duplicate data
df = df.drop_duplicates()

In [36]:
df.tail()

,order_id,order_date,product,category,price,quantity,city,payment_method
5,1006,2024-02-05,Desk,Furniture,40000,1,Islamabad,Cash on Delivery
6,1007,2024-02-15,Mobile Phone,Electronics,60000,1,Karachi,Debit Card
7,1008,2024-03-01,Monitor,Electronics,30000,2,Lahore,Credit Card
8,1009,2024-03-05,Headphones,Accessories,5000,4,KARACHI,Cash on Delivery
9,1010,2024-03-10,Desk Lamp,Accessories,3000,2,Islamabad,Debit Card

In [37]:
# Handling inconsistent values
# All lower case values
df['city'] = df['city'].str.lower().str.strip()

<ipython-input-37-aa62c0996724>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = df['city'].str.lower().str.strip()

In [38]:
#values are lower case now
df.tail()

,order_id,order_date,product,category,price,quantity,city,payment_method
5,1006,2024-02-05,Desk,Furniture,40000,1,islamabad,Cash on Delivery
6,1007,2024-02-15,Mobile Phone,Electronics,60000,1,karachi,Debit Card
7,1008,2024-03-01,Monitor,Electronics,30000,2,lahore,Credit Card
8,1009,2024-03-05,Headphones,Accessories,5000,4,karachi,Cash on Delivery
9,1010,2024-03-10,Desk Lamp,Accessories,3000,2,islamabad,Debit Card

In [39]:
df.head(20)

,order_id,order_date,product,category,price,quantity,city,payment_method
0,1001,2024-01-05,Laptop,Electronics,120000,1,karachi,Credit Card
1,1002,2024-01-06,Mobile Phone,Electronics,60000,2,lahore,Cash on Delivery
2,1003,2024-01-07,Headphones,Accessories,5000,3,islamabad,Debit Card
3,1004,2024-01-10,Office Chair,Furniture,25000,1,khi,Credit Card
4,1005,2024-02-02,Laptop,Electronics,120000,1,lahore,Credit Card
5,1006,2024-02-05,Desk,Furniture,40000,1,islamabad,Cash on Delivery
6,1007,2024-02-15,Mobile Phone,Electronics,60000,1,karachi,Debit Card
7,1008,2024-03-01,Monitor,Electronics,30000,2,lahore,Credit Card
8,1009,2024-03-05,Headphones,Accessories,5000,4,karachi,Cash on Delivery
9,1010,2024-03-10,Desk Lamp,Accessories,3000,2,islamabad,Debit Card

In [40]:
# in complete data set replace short form values
df['city'] = df['city'].replace({'khi':'karachi'})

<ipython-input-40-7c6a4a22235e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = df['city'].replace({'khi':'karachi'})

In [41]:
df.head()

,order_id,order_date,product,category,price,quantity,city,payment_method
0,1001,2024-01-05,Laptop,Electronics,120000,1,karachi,Credit Card
1,1002,2024-01-06,Mobile Phone,Electronics,60000,2,lahore,Cash on Delivery
2,1003,2024-01-07,Headphones,Accessories,5000,3,islamabad,Debit Card
3,1004,2024-01-10,Office Chair,Furniture,25000,1,karachi,Credit Card
4,1005,2024-02-02,Laptop,Electronics,120000,1,lahore,Credit Card

In [42]:
df['order_date'] =  pd.to_datetime(df['order_date'])

<ipython-input-42-9ae15dc0638a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order_date'] =  pd.to_datetime(df['order_date'])

In [43]:
df

,order_id,order_date,product,category,price,quantity,city,payment_method
0,1001,2024-01-05,Laptop,Electronics,120000,1,karachi,Credit Card
1,1002,2024-01-06,Mobile Phone,Electronics,60000,2,lahore,Cash on Delivery
2,1003,2024-01-07,Headphones,Accessories,5000,3,islamabad,Debit Card
3,1004,2024-01-10,Office Chair,Furniture,25000,1,karachi,Credit Card
4,1005,2024-02-02,Laptop,Electronics,120000,1,lahore,Credit Card
5,1006,2024-02-05,Desk,Furniture,40000,1,islamabad,Cash on Delivery
6,1007,2024-02-15,Mobile Phone,Electronics,60000,1,karachi,Debit Card
7,1008,2024-03-01,Monitor,Electronics,30000,2,lahore,Credit Card
8,1009,2024-03-05,Headphones,Accessories,5000,4,karachi,Cash on Delivery
9,1010,2024-03-10,Desk Lamp,Accessories,3000,2,islamabad,Debit Card

In [45]:
#now we can see dtype of order_data to datetime
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        10 non-null     int64
 1   order_date      10 non-null     datetime64[ns]
 2   product         10 non-null     object
 3   category        10 non-null     object
 4   price           10 non-null     int64
 5   quantity        10 non-null     int64
 6   city            10 non-null     object
 7   payment_method  10 non-null     object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 560.0+ bytes

In [46]:
#df['price'] = df['price'].astype(float)

In [50]:
# outlier detection for anomalies (outbound values)
df[df['price']>300000]
df[df['price']<0]

Empty DataFrame
Columns: [order_id, order_date, product, category, price, quantity, city, payment_method]
Index: []

## Feature Engineering

In [54]:
# Making a new feature 'total_sales' using price and quantity features
df['total_sales'] = df['price'] * df['quantity']

<ipython-input-54-4be0b6e7c464>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['total_sales'] = df['price'] * df['quantity']

In [56]:
# creating a new feature 'sales_category' to segment customers into 4 classes for insights
df['sales_category'] = pd.cut(df['total_sales'], 
                              bins=[0,20000,50000,100000,float('inf')],
                              labels=['Low','Medium','High','Very High'])

<ipython-input-56-dc38d045ad21>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['sales_category'] = pd.cut(df['total_sales'],

In [60]:
df['discount'] = df['category'].map({
    'Electronics': 0.05,
    'Accessories': 0.10,
    'Furniture': 0.04
    })

<ipython-input-60-ddf517f77de3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['discount'] = df['category'].map({

In [61]:
# creating 'final price' column after applying discount
df['final_sales'] = df['total_sales'] * (1-df['discount'])

<ipython-input-61-6a346072d9f8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['final_sales'] = df['total_sales'] * (1-df['discount'])

In [64]:
df['month'] = df['order_date'].dt.month
df['weekday'] = df['order_date'].dt.day_name

<ipython-input-64-f5affa5977b7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['order_date'].dt.month
<ipython-input-64-f5affa5977b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'] = df['order_date'].dt.day_name

In [65]:
df.head()

,order_id,order_date,product,category,price,quantity,city,payment_method,total_sales,sales_category,discount,final_sales,month,weekday
0,1001,2024-01-05,Laptop,Electronics,120000,1,karachi,Credit Card,120000,Very High,0.05,114000.0,1,<bound method PandasDelegate._add_delegate_acc...
1,1002,2024-01-06,Mobile Phone,Electronics,60000,2,lahore,Cash on Delivery,120000,Very High,0.05,114000.0,1,<bound method PandasDelegate._add_delegate_acc...
2,1003,2024-01-07,Headphones,Accessories,5000,3,islamabad,Debit Card,15000,Low,0.10,13500.0,1,<bound method PandasDelegate._add_delegate_acc...
3,1004,2024-01-10,Office Chair,Furniture,25000,1,karachi,Credit Card,25000,Medium,0.04,24000.0,1,<bound method PandasDelegate._add_delegate_acc...
4,1005,2024-02-02,Laptop,Electronics,120000,1,lahore,Credit Card,120000,Very High,0.05,114000.0,2,<bound method PandasDelegate._add_delegate_acc...

# Business Questions

In [66]:
df['final_sales'].sum()

np.float64(555300.0)

In [74]:
df.groupby('product')['final_sales'].sum().sort_values(ascending=False)
# we can see 'Laptop' has generated most revenue

product
Laptop          228000.0
Mobile Phone    171000.0
Monitor          57000.0
Desk             38400.0
Headphones       31500.0
Office Chair     24000.0
Desk Lamp         5400.0
Name: final_sales, dtype: float64

In [73]:
df.groupby('category')['final_sales'].sum().sort_values(ascending=False)
# we can see 'Electronics' has generated most revenue

category
Electronics    456000.0
Furniture       62400.0
Accessories     36900.0
Name: final_sales, dtype: float64

In [72]:
df.groupby('city')['final_sales'].sum().sort_values(ascending=False)
# we can see 'Lahore' has generated most revenue

city
lahore       285000.0
karachi      213000.0
islamabad     57300.0
Name: final_sales, dtype: float64