In [1]:
import pandas as pd

In [4]:
# Series
deaths = pd.Series(
    [517204, 156938, 254263, 86122, 122705, 86332, 
     69142, 97507, 28503, 70601],)

# DataFrame
data = {
    "Location": ["United States","India","Brazil","Russia",
                 "United Kingdom","France","Spain","Italy",
                 "Turkey","Germany"],
    "Cases": [28833039,11079979,10517232,4246079,4170519,
              3736016,3188553,2907825,2693164,2444169],
    "Deaths": [517204,156938,254263,86122,122705,86332,
               69142,97507,28503,70601],
    "Recovered": [None,10763451,9386440,3811797,None,
                  None,None,2398352,2565723,2242767]
}
df = pd.DataFrame(data)
df

         Location     Cases  Deaths   Recovered
0   United States  28833039  517204         NaN
1           India  11079979  156938  10763451.0
2          Brazil  10517232  254263   9386440.0
3          Russia   4246079   86122   3811797.0
4  United Kingdom   4170519  122705         NaN
5          France   3736016   86332         NaN
6           Spain   3188553   69142         NaN
7           Italy   2907825   97507   2398352.0
8          Turkey   2693164   28503   2565723.0
9         Germany   2444169   70601   2242767.0

In [9]:
df['Status'] = pd.cut(df['Cases'],
                      bins=[0, 3000000, 4000000, float('inf')],
                      labels=['Low', 'Medium', 'High'])
df['Status']

0      High
1      High
2      High
3      High
4      High
5    Medium
6    Medium
7       Low
8       Low
9       Low
Name: Status, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [12]:
deaths.sort_values(ascending=True)

8     28503
6     69142
9     70601
3     86122
5     86332
7     97507
4    122705
1    156938
2    254263
0    517204
dtype: int64

In [14]:
df.sort_values(by="Deaths")

         Location     Cases  Deaths   Recovered  Status
8          Turkey   2693164   28503   2565723.0     Low
6           Spain   3188553   69142         NaN  Medium
9         Germany   2444169   70601   2242767.0     Low
3          Russia   4246079   86122   3811797.0    High
5          France   3736016   86332         NaN  Medium
7           Italy   2907825   97507   2398352.0     Low
4  United Kingdom   4170519  122705         NaN    High
1           India  11079979  156938  10763451.0    High
2          Brazil  10517232  254263   9386440.0    High
0   United States  28833039  517204         NaN    High

In [18]:
print('Total Deaths:', deaths.sum())
print('Min deaths:', deaths.min())
print('Max deaths:', deaths.max())

Total Deaths: 1489317
Min deaths: 28503
Max deaths: 517204

In [20]:
print('Total Recovered:', int(df['Recovered'].sum()))
print('Total Cases:', df['Cases'].sum())

Total Recovered: 31168530
Total Cases: 73816575

In [21]:
mean = df['Recovered'].mean()
df['Recovered'] = df['Recovered'].fillna(mean)
print(df)

median = df['Recovered'].median()
df['Recovered'] = df['Recovered'].fillna(median)
print(df)

         Location     Cases  Deaths   Recovered  Status
0   United States  28833039  517204   5194755.0    High
1           India  11079979  156938  10763451.0    High
2          Brazil  10517232  254263   9386440.0    High
3          Russia   4246079   86122   3811797.0    High
4  United Kingdom   4170519  122705   5194755.0    High
5          France   3736016   86332   5194755.0  Medium
6           Spain   3188553   69142   5194755.0  Medium
7           Italy   2907825   97507   2398352.0     Low
8          Turkey   2693164   28503   2565723.0     Low
9         Germany   2444169   70601   2242767.0     Low
         Location     Cases  Deaths   Recovered  Status
0   United States  28833039  517204   5194755.0    High
1           India  11079979  156938  10763451.0    High
2          Brazil  10517232  254263   9386440.0    High
3          Russia   4246079   86122   3811797.0    High
4  United Kingdom   4170519  122705   5194755.0    High
5          France   3736016   86332   5194755.0  Medium
6           Spain   3188553   69142   5194755.0  Medium
7           Italy   2907825   97507   2398352.0     Low
8          Turkey   2693164   28503   2565723.0     Low
9         Germany   2444169   70601   2242767.0     Low